################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KSeF.Client.ClientFactory/bin/Debug/net48
/KSeF.Client/bin/Debug/net48
/KSeF.Client/obj/Debug/net48/en
/KSeF.Client/obj/Debug/net48/pl
/KSeF.Client/obj/Debug/net48/KSeF.Cli.87DDA02A.Up2Date
/KSeF.Client/obj/Debug/net48/KSeF.Client.AssemblyInfo.cs
/KSeF.Client/obj/Debug/net48/KSeF.Client.AssemblyInfoInputs.cache
/KSeF.Client/obj/Debug/net48/KSeF.Client.assets.cache
/KSeF.Client/obj/Debug/net48/KSeF.Client.csproj.AssemblyReference.cache
/KSeF.Client/obj/Debug/net48/KSeF.Client.csproj.CoreCompileInputs.cache
/KSeF.Client/obj/Debug/net48/KSeF.Client.csproj.FileListAbsolute.txt
/KSeF.Client/obj/Debug/net48/KSeF.Client.csproj.GenerateResource.cache
/KSeF.Client/obj/Debug/net48/KSeF.Client.dll
/KSeF.Client/obj/Debug/net48/KSeF.Client.GeneratedMSBuildEditorConfig.editorconfig
/KSeF.Client/obj/Debug/net48/KSeF.Client.pdb
/KSeF.Client/obj/Debug/net48/KSeF.Client.sourcelink.json
/KSeF.Client/obj/KSeF.Client.csproj.nuget.dgspec.json
/KSeF.Client/obj/KSeF.Client.csproj.nuget.g.props
/KSeF.Client/obj/KSeF.Client.csproj.nuget.g.targets
/KSeF.Client/obj/project.assets.json
/KSeF.Client/obj/project.nuget.cache
/KSeF.Client.Core/bin/Debug/net48/KSeF.Client.Core.pdb
/KSeF.Client.Core/bin/Debug/net48/KSeF.Client.Core.dll
/KSeF.Client.Core/obj/Debug/net48/KSeF.Client.Core.AssemblyInfo.cs
/KSeF.Client.Core/obj/Debug/net48/KSeF.Client.Core.AssemblyInfoInputs.cache
/KSeF.Client.Core/obj/Debug/net48/KSeF.Client.Core.assets.cache
/KSeF.Client.Core/obj/Debug/net48/KSeF.Client.Core.csproj.AssemblyReference.cache
/KSeF.Client.Core/obj/Debug/net48/KSeF.Client.Core.csproj.CoreCompileInputs.cache
/KSeF.Client.Core/obj/Debug/net48/KSeF.Client.Core.csproj.FileListAbsolute.txt
/KSeF.Client.Core/obj/Debug/net48/KSeF.Client.Core.dll
/KSeF.Client.Core/obj/Debug/net48/KSeF.Client.Core.GeneratedMSBuildEditorConfig.editorconfig
/KSeF.Client.Core/obj/Debug/net48/KSeF.Client.Core.pdb
/KSeF.Client.Core/obj/Debug/net48/KSeF.Client.Core.sourcelink.json
/KSeF.Client.ClientFactory/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/KSeF.Client.ClientFactory/obj/Debug/net48/KSeF.Cli.FB370451.Up2Date
/KSeF.Client.ClientFactory/obj/Debug/net48/KSeF.Client.ClientFactory.AssemblyInfo.cs
/KSeF.Client.ClientFactory/obj/Debug/net48/KSeF.Client.ClientFactory.AssemblyInfoInputs.cache
/KSeF.Client.ClientFactory/obj/Debug/net48/KSeF.Client.ClientFactory.assets.cache
/KSeF.Client.ClientFactory/obj/Debug/net48/KSeF.Client.ClientFactory.csproj.AssemblyReference.cache
/KSeF.Client.ClientFactory/obj/Debug/net48/KSeF.Client.ClientFactory.csproj.CoreCompileInputs.cache
/KSeF.Client.ClientFactory/obj/Debug/net48/KSeF.Client.ClientFactory.csproj.FileListAbsolute.txt
/KSeF.Client.ClientFactory/obj/Debug/net48/KSeF.Client.ClientFactory.dll
/KSeF.Client.ClientFactory/obj/Debug/net48/KSeF.Client.ClientFactory.GeneratedMSBuildEditorConfig.editorconfig
/KSeF.Client.ClientFactory/obj/Debug/net48/KSeF.Client.ClientFactory.pdb
/KSeF.Client.ClientFactory/obj/Debug/net48/KSeF.Client.ClientFactory.sourcelink.json
/KSeF.Client.ClientFactory/obj/KSeF.Client.ClientFactory.csproj.nuget.dgspec.json
/KSeF.Client.ClientFactory/obj/KSeF.Client.ClientFactory.csproj.nuget.g.props
/KSeF.Client.ClientFactory/obj/KSeF.Client.ClientFactory.csproj.nuget.g.targets
/KSeF.Client.ClientFactory/obj/project.assets.json
/KSeF.Client.ClientFactory/obj/project.nuget.cache
/KSeF.Client.Core/obj/KSeF.Client.Core.csproj.nuget.dgspec.json
/KSeF.Client.Core/obj/KSeF.Client.Core.csproj.nuget.g.props
/KSeF.Client.Core/obj/KSeF.Client.Core.csproj.nuget.g.targets
/KSeF.Client.Core/obj/project.assets.json
/KSeF.Client.Core/obj/project.nuget.cache
